<div class="password-list max-h-[400px] overflow-y-auto w-full">
  <div *ngIf="passwords.length > 0; else noPasswords">
    <div *ngFor="let password of passwords" class="password-item border-b border-gray-200 p-4 flex justify-between items-center w-full">
      <div class="p-6">
        <p class="text-sm font-medium text-gray-400">
          Password: {{ password.password }}
        </p>
        <p class="text-xs text-gray-500">
          Description: {{ password.description }}
        </p>
      </div>
      <button class="text-red-600 hover:text-red-800" (click)="deletePassword(password._id)">Delete</button>
    </div>
  </div>
  <ng-template #noPasswords>
    <div class="text-center text-gray-500">No saved passwords.</div>
  </ng-template>
</div>