
<div class="hero min-h-screen bg-base-200 ">
     <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content flex-col lg:flex-row " >
    <div class="text-center lg:text-left ">
      <h1 class="text-5xl font-bold">PassForge</h1>
      <p class="py-6 text-1xl font-medium">Forging Stronger Passwords
        <br> Fortifying Your Security</p>
    </div>
    <div class="d-none lg:d-block lg:h-[80vh] lg:min-w-[0.1px] bg-white mx-28 "> </div>
    <app-auth-card ></app-auth-card>
  
  </div>
</div>