<div class="flex flex-col items-center justify-center  ">
  <div class="w-full max-w-md p-6  shadow-lg rounded-md">
    <h2 class="text-2xl font-bold mb-4">Password Generator</h2>

    <div class="space-y-4">
      <div>
        <label for="length" class="block text-sm font-medium text-gray-300">Length</label>
        <input id="length" type="range" min="0" max="100" [(ngModel)]="passwordLength" class="range range-sm range-accent" >
        <span class="text-sm text-gray-400">
          {{ passwordLength }}</span>
      </div>

      <div>
        <label for="use-letters" class="flex items-center">
          <input id="use-letters" type="checkbox" [(ngModel)]="useLetters" class="checkbox checkbox-primary" >
          <span class="ml-2 text-sm text-gray-400">Use letters</span>
        </label>
      </div>

      <div>
        <label for="use-numbers" class="flex items-center">
          <input id="use-numbers" type="checkbox" [(ngModel)]="useNumbers" class="checkbox checkbox-primary">
          <span class="ml-2 text-sm text-gray-400">Use numbers</span>
        </label>
      </div>

      <div>
        <label for="use-symbols" class="flex items-center">
          <input id="use-symbols" type="checkbox" [(ngModel)]="useSymbols" class="checkbox checkbox-primary">
          <span class="ml-2 text-sm text-gray-400">Use symbols</span>
        </label>
      </div>

      <div>
        <button [disabled]="!isFormValid()" class="btn btn-primary w-full" (click)="generatePassword()">Generate</button>
      </div>

      <div *ngIf="password" class="mt-4">
        <label for="password" class="block text-sm font-medium text-gray-400">Your Password</label>
        <input id="password" type="text" [(ngModel)]="password" class="input input-primary w-full">
        <div class="tooltip tooltip-secondary" [class.tooltip-open]="copySuccess" [attr.data-tip]="copySuccess ? 'Copied': 'Copy'">
           <button class="btn btn-secondary mt-2" (click)="copyToClipboard()">Copy to Clipboard </button></div>
           <button class="btn btn-primary mt-2 mx-2" (click)="openSaveModal()">Save Password</button>
      
      </div>
    </div>
  </div>
</div>


<div class="modal" [class.modal-open]="isSaveModalOpen">
  <div class="modal-box">
    <h2 class="text-2xl font-bold mb-4">Save Password</h2>
    <form (submit)="savePassword()">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Description</span>
        </label>
        <input type="text" placeholder="Enter a description" [(ngModel)]="passwordDescription" class="input input-bordered">
      </div>
      <div class="modal-action">
        <button type="button" class="btn" (click)="closeSaveModal()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>