<div class="password-generator">
  <h2>Password Generator</h2>
  <form>
 <label>
   Length:
   <input type="range" min="0" max="100" [value]="passwordLength" (input)="passwordLength = $event.target.value" class="range">
 </label>
 <label>
     Include Numbers:
     <input type="checkbox" [(ngModel)]="includeNumbers" [checked]="includeNumbers">
   </label>
   <label>
     Include Uppercase:
     <input type="checkbox" [(ngModel)]="includeUppercase" [checked]="includeUppercase">
   </label>
   <label>
     Include Special Chars:
     <input type="checkbox" [(ngModel)]="includeSpecialChars" [checked]="includeSpecialChars">
   </label>
    <button (click)="generatePassword()">Generate Password</button>
  </form>
  <div *ngIf="password">
    <h3>Generated Password:</h3>
    <p>
      {{ password }}
    </p>
  </div>
</div>